<a href="/createpost"><button type="button" class="btn btn-primary btn-block">Create post</button></a>
<%- include('partials/messages'); %>
<% newPost.forEach(newPost => { %>
    <div class="card mt-4">
        <div class="card-body">
			<% if (newPost.likeCount == null) { %>
				<p style="float: right">0 votes</p>

			<% } else { %>
			<p style="float: right"><%= newPost.likeCount %> votes</p>
			<% }%>
            <h4 class="card-title"><%= newPost.postTitle %></h4>
				<% if (newPost.image) {%>
					<img width="145" height="100" src="/public/uploads/images/<%= newPost.image %>" >
					<% } if (newPost.media) { %>
						<video width="145" height="100" controls>
							<source src="/public/uploads/images/<%= newPost.media %>" type="video/mp4">
							<source src="/public/uploads/images/<%= newPost.media %>" type="video/ogg">
						  Your browser does not support the video tag.
						  </video>
					<% } else { %>
					<% }%>
					<br>
			<% if (newPost.postUser[0].total && newPost.postUser[0].weight && newPost.postUser[0].wilks) { %>
				<a href="/users/profile/<%= newPost.postUsername %>">
				<img src="/public/uploads/images/<%= newPost.postUser[0].img %>" width="55" height="55" style="border-radius: 10px"><p> <%= newPost.postUsername %></a>
				 - Total: <%= newPost.postUser[0].total %> at <%= newPost.postUser[0].weight %> KG - Wilks score of <%= newPost.postUser[0].wilks %></p>
			<% } else { %>
				<a href="/users/profile/<%= newPost.postUsername %>">
				<img src="/public/uploads/images/<%= newPost.postUser[0].img %>" width="55" height="55" style="border-radius: 10px">
				<p><%= newPost.postUsername %></a> - This user does not have a total, weight and wilks score set</p>
			<% }%>

            <div class="card-subtitle text-muted mb-2">
                <%= newPost.date.toLocaleDateString() %>
            </div>
            <div class="card-text mb-2">
                <%= newPost.postText %>
            </div>
            <a href="/forum/<%= newPost._id%>" class="btn btn-primary">Read more</a>
			<% if (login) { %>
				<% if (newPost.postUsername == newProfile.username) { %>
					<a href="/editpost/<%= newPost._id%>"><button type="button" class="btn btn-info">Edit</button></a>
					<form action="/forum/<%= newPost._id %>?_method=POST" method="POST" class="d-inline">
					<button type="submit" class="btn btn-danger">Delete</button>
					</form>
				<% }%>
				<form action="/forum/<%= newPost._id %>/dislike?_method=POST" method="POST" class="d-inline">
					<button type="submit" class="btn btn-warning" style="float: right;">Dislike</button>
				</form>
				<form action="/forum/<%= newPost._id %>/like?_method=POST" method="POST" class="d-inline">
					<button type="submit" class="btn btn-success" style="float: right;">Like</button>
				</form>
			<% }%>
        </div>
    </div>
<% }) %>