<link rel="stylesheet" type="text/css" href="/public/flags.css">

<div class="row mt-5">
	<div class="col-md-6 m-auto">
	  <div class="card card-body">
		<h1 class="text-center mb-3"><%= foundUser.username %></h1>
		<%- include('partials/messages'); %>
	<%if (foundUser.img != null) { %>
		<img src="/public/uploads/images/<%= foundUser.img %>" width="125" height="125" style="border:2px solid black">
	<% } else { %>
		<img src="/public/uploads/images/placeholder.png" width="125" height="125" style="border:2px solid black">
	<% }%>
<br>
<% if (login) {%>
	<% if (foundUser.username !== matchingUser.username) {%>

		<a href="<%= foundUser.username %>/message"><button type="submit" class="btn btn-danger" style="float: right;">Message</button></a>

		<% var found = false; var acceptfr = false; var deletefr = false; %>
		<% foundUser.friendRequests.forEach(fr => { %>
				<% if (fr.requestUsername == matchingUser.username) {%>
					<% found = true %>
				<% }%>
		<% }) %>
		<% matchingUser.friendRequests.forEach(ownfr => { %>
			<% if (ownfr.requestUsername == foundUser.username) {%>
				<% acceptfr = true %>
			<% }%>
		<% }) %>
		<% matchingUser.friends.forEach(existingfriend => { %>
			<% if (existingfriend.friendUsername == foundUser.username) {%>
				<% deletefr = true %>
			<% }%>
		<% }) %>
		<% if (found == true) {%>
			<p>Request sent</p>
		<% }%>
		<% if (acceptfr == true) {%>
			<form action="/users/friendrequests/<%= foundUser.username %>" method="POST" class="d-inline">
				<button type="submit" class="btn btn-danger" style="float: right;">Accept friend</button>
			</form>
		<% }%>
		<% if (found == false && acceptfr == false && deletefr == false) {%>
			<form action="/users/profile/<%= foundUser.username%>/addfriend?_method=POST" method="POST" class="d-inline">
				<button type="submit" class="btn btn-danger" style="float: right;">Add friend</button>
			</form>
		<% }%>
		<% if (deletefr == true) {%>
			<form action="/users/profile/<%= foundUser.username%>/deletefriend?_method=POST" method="POST" class="d-inline">
				<button type="submit" class="btn btn-danger" style="float: right;">Delete friend</button>
			</form>
		<% }%>
<% }%>
<% }%>

<p>User since <%= date %></p>
<p>Name: <%= foundUser.name %></p>
<p>Gender: <%= foundUser.gender %></p>
<p>Country: 
<span class="flag flag-<%= foundUser.country %>"></span></p>
<p>Age: <%= foundUser.age %> years old</p>
<p>Bio: <br> <%= foundUser.bio %></p>
<br>
<% if (login) {%>
<% if (matchingUser.username == foundUser.username) { %>
	<a href="/users/profile/<%= matchingUser.username %>/update">Update your profile</a>
<% }%>
<% }%>
<br>
<p><b>Weight: </b> <%= foundUser.weight %> kg</p>
<p><b>Height: </b> <%= foundUser.height %> cm</p>
<p><b>Activity level: </b> <%= foundUser.activitylevel %></p>
<p><b>Total Daily Energy Expenditure(TDEE): </b> <%= foundUser.tdeenumber %> calories</p>
<p><b>1 rep max: </b> <%= foundUser.ormnumber %> kg</p>
<% if (routineUser) {%>
<a href="/muscles/routines/<%= foundUser.username %>"><%= foundUser.username %>'s routine</a>
<% } else { %>
	<p><%= foundUser.username %> has no routine.</p>
	<% }%>
<br>
<p><%= foundUser.username %>'s friends: 
	<% foundUser.friends.forEach(friend => { %>
		<a href="/users/profile/<%= friend.friendUsername %>"><%= friend.friendUsername %></a>
		
<% }) %>
<% if (login) {%>
	<% if (foundUser.username !==matchingUser.username) {%>
		<p>Mutual friends:
			<% foundUser.friends.forEach (friend=> {%>
				<% matchingUser.friends.forEach (mutual=> {%>
					<% if (friend.friendUsername==mutual.friendUsername) {%>
						<a href="/users/profile/<%= friend.friendUsername %>">
							<%= friend.friendUsername %>
						</a>
						<% }%>
							<% }) %>
								<% }) %>
									<% }%>
										<% }%>
		</p>
<p><a href="/users/profile/<%= foundUser.username %>/recentposts/1">View recent posts</a></p>
</p>
</div>
</div>
</div>
<div class="card mt-4">
	<div class="card-body">
<% comment.forEach(comment => { %>
	<div class="card mt-4 text-white bg-dark mb-3">
        <div class="card-body">
			<a href="/users/profile/<%= comment.author %>"><p><%= comment.author %></p></a>
			<% if (login) { %>
			<% if (comment.author == matchingUser.username) { %>
				<form action="/users/profile/<%= foundUser.username%>/<%= comment.id %>/deletecomment?_method=POST" method="POST" class="d-inline">
					<button type="submit" class="btn btn-danger" style="float: right;">Delete</button>
				</form>
			<% }%>
			<% }%>
            <div class="card-subtitle text-muted mb-2">
                <%= comment.commentDate %>
            </div>
            <div class="card-text mb-2">
                <%= comment.text %>
            </div>
        </div>
    </div>
<% }) %>
<% if (login) { %>
	<div class="row mt-5">
		<div class="col-md-10 m-auto">
		<div class="card card-body">
			<h1 class="text-center mb-1"> Comment
		</h1>
	<form action="/users/profile/<%= foundUser.username%>/comment?_method=POST" method="POST">
	<div class="form-group">
		<label for="text">Text</label>
		<textarea required style="height:100px;"
			type="text"
			name="text"
			id="text"
			class="form-control"
			value="<%= typeof text != 'undefined' ? text : '' %>"
			placeholder="Hello friend!"></textarea>
	</div>
	<button type="submit" class="btn btn-primary btn-block">Submit</button>
	</form>
	</div>
	</div>
	</div>
<% } else { %>
	<div class="row mt-5">
		<div class="col-md-10 m-auto">
		<div class="card card-body">
			<h1 class="text-center mb-1"> <a href="/users/login">Log in to comment!</a>
		</h1>
	</form>
	</div>
	</div>
	</div>
<% }%>