<div class="row mt-5">
	<div class="col-md-6 m-auto">
	  <div class="card card-body">
		<h1 class="text-center mb-3"><%= foundUser.username %></h1>
		<%- include('partials/messages'); %>
<img src="/public/uploads/images/<%= foundUser.img %>" width="125" height="125" style="border:2px solid black">
<form action="/users/profile/<%= foundUser.id %>" method="POST" enctype="multipart/form-data">
	<input type="file" name="image" id="image" class="form-control-file"> <button type="submit" class="btn-primary btn-sm">Upload</button>
</form>
<br>
<p><%= foundUser.name %></p>
<p><%= foundUser.gender %></p>
<p><%= foundUser.age %> years old</p>
<br>
<% if (login) {%>
<% if (matchingUser.username == foundUser.username) { %>
	<a href="/users/profile/<%= matchingUser.username %>/update">Update your profile</a>
<% }%>
<% }%>
<br>
<p><b>Weight: </b> <%= foundUser.weight %> kg</p>
<p><b>Height: </b> <%= foundUser.height %> cm</p>
<p><b>Activity level: </b> <%= foundUser.activitylevel %></p>
<p><b>Total Daily Energy Expenditure(TDEE): </b> <%= foundUser.tdeenumber %> calories</p>
<p><b>1 rep max: </b> <%= foundUser.ormnumber %> kg</p>
<br>
<a href="/users/changepassword/">Change your password</a>
</div>
</div>
</div>