<h1><%= newPost.postTitle %></h1>
<p>Posted by <%= newPost.postUsername %> </p>
<% if (newPost.image) {%>
	<img width="320" height="240" src="/public/uploads/images/<%= newPost.image %>" >
<% } if (newPost.media) { %>
	<video width="320" height="240" controls>
		<source src="/public/uploads/images/<%= newPost.media %>" type="video/mp4">
		<source src="/public/uploads/images/<%= newPost.media %>" type="video/ogg">
	  Your browser does not support the video tag.
	  </video>
<% } else { %>
<% }%>
<br>
<%= newPost.postText %>
<br>
<%= newPost.date %>
<%= comment.comments %>
<div class="card mt-4">
	<div class="card-body">
		<%- include('partials/messages'); %>
<% comment.forEach(comment => { %>
	<div class="card mt-4 text-white bg-dark mb-3">
        <div class="card-body">
			<a href="/users/profile/<%= comment.author %>"><p><%= comment.author %></p></a>
			<% if (login) { %>
			<% if (comment.author == newProfile.username) { %>
			<form action="/forum/<%= newPost.id %>/<%= comment.id %>/deletecomment?_method=DELETE" method="POST" class="d-inline">
				<button type="submit" class="btn btn-danger" style="float: right;">Delete</button>
			</form>
			<% }%>
			<% }%>
            <div class="card-subtitle text-muted mb-2">
                <%= comment.commentDate %>
            </div>
            <div class="card-text mb-2">
                <%= comment.text %>
            </div>
        </div>
    </div>
<% }) %>

<% if (login) { %>
	<div class="row mt-5">
		<div class="col-md-10 m-auto">
		<div class="card card-body">
			<h1 class="text-center mb-1"> Comment
		</h1>
	<form action="/forum/<%= newPost.id%>/comment?_method=POST" method="POST">
	<div class="form-group">
		<label for="text">Text</label>
		<textarea required style="height:100px;"
			type="text"
			name="text"
			id="text"
			class="form-control"
			value="<%= typeof text != 'undefined' ? text : '' %>"
			placeholder="Well I think your cat had it's reasons"></textarea>
	</div>
	<button type="submit" class="btn btn-primary btn-block">Submit</button>
	</form>
	</div>
	<% if (index.prev) {%>
		<a href="/forum/view/<%= newPost._id %>/<%= index.prev %>">Previous page: <%= index.prev %></a>
		<%}%>
		<% if (index.next) {%>
		<a href="/forum/view/<%= newPost._id %>/<%= index.next %>">Next page: <%= index.next %></a>
		<%}%>
	</div>
	</div>
<% } else { %>
	<div class="row mt-5">
		<div class="col-md-10 m-auto">
			
		<div class="card card-body">
			<h1 class="text-center mb-1"> <a href="/users/login">Log in to comment!</a>
		</h1>
	</form>
	</div>
	<% if (index.prev) {%>
		<a href="/forum/view/<%= newPost._id %>/<%= index.prev %>">Previous page: <%= index.prev %></a>
		<%}%>
		<% if (index.next) {%>
		<a href="/forum/view/<%= newPost._id %>/<%= index.next %>">Next page: <%= index.next %></a>
		<%}%>
	</div>
	</div>
<% }%>